@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
$primary_color: #f2d2df;
$txtColor: #613141;
$orangeColor: #da7f4b;

* {
  box-sizing: border-box;
}
html {
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: $primary_color;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.divide {
  width: 90%;
  background-color: white;
  margin: 30px auto;
  height: 1px;
}
a {
  text-decoration: none;
  color: $txtColor;
}
a.closeOuterItem {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 200;
  color: white;
}
