/*
  All Mixin
*/

@mixin flex-between{
  display: flex;
  justify-content: space-between;
}
@mixin flex-align-center{
  display: flex;
  align-items: center;
}
@mixin flex-center-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin none-style{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@mixin transition($duration){
  transition: all $duration + s
}