@import "default";



#AppWrapper{
  position: relative;
  background-color: white;
  width: 100%;
  padding: 0 20px;
  header.menubar{
    width: 100%;
    margin-top: 20px;
    @include flex-center-between;
    .foodLog-menu{
      width: 30px;
      cursor: pointer;
    }
    a.app-title {
      font-size: 2rem;
      color: tomato;
      font-weight: bold;
    }
    .foodLog-avatar{
      width: 40px;
      img{
        width: 100%;
        height: auto;
        border-radius: 50%;
      }
    }
  }
  .foodLog-searchbar{
    width: 100%;
    background-color: #F1F5F6;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 230px;
    @include flex-align-center;
    label{
      width: 25px;
      opacity: 0.6;
    }
    input{
      flex: 1;
      border: none;
      outline: none;
      background-color: transparent;
      height: 100%;
      font-size: 20px;
      padding-left: 10px;
    }
  }
  //search bar end
  .foodLog-slider-box{
    position: relative;
    .title{
      transform: rotate(271deg);
      position: absolute;
      left: -30px;
      top: 15%;
      font-weight: bold;
      font-size: 100%;
      z-index: 2;
    }
    // Food Slider
    .owl-stage-outer{
      padding: 0 0 20px 0;
    }
    .foodLog-slider{
      width: 90%;
      margin-left: 10%;
      .item{
        img{
          border-radius: 20px;
          box-shadow: 0 10px 10px -5px rgba(0,0,0,0.2);
        }
      }
    }
  }

  // Food Option
  .foodLog-option{
    padding-left: 30px;
    ul{
      @include none-style;
      display: flex;
      justify-content: space-between;
    }
    li{
      display: inline-block;
      text-align: center;
      &:hover svg{
        background-color: tomato;
        stroke: white;
      }
      a{
        color: $txtColor;
      }
      span{
        text-transform: capitalize;
        font-size: 14px;
        font-weight: bold;
        user-select: none;
      }
      svg{
        width: 45px;
        height: auto;
        padding: 8px;
        border-radius: 50%;
        border: 1px solid rgba(255, 99, 71, 0.2);
        @include transition(0.5);
      }
    }
  }

  // Food Post
  .foodLog-post{
    position: relative;
    margin: 40px 0 90px 0;
    .foodLog-tabItem{
      position: absolute;
      left: -20px;
      top: 0;
      @include none-style;
      li{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-weight: bold;
        margin-bottom: 20px;
        transform: rotate(180deg);
        border-right: 5px solid transparent;
        @include transition(0.5);
        &.active{
          border-color: tomato;
          a{
            color: tomato;
          }
        }
        a{
          padding: 0 30px 0 0;
          display: block;
        }
      }
    }
    // All Post Item
    .foodLog-post-list{
      width: calc(100% - 50px);
      margin-left: auto;
      .post-list{
        display: flex;
        padding: 5px;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        border-radius: 10px;
        @include transition(0.3);
        &:hover{
          box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        }
        .post-thumb{
          width: 80px;
          height: 80px;
          border-radius: 10px;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .post-meta-data{
          position: relative;
          flex: 1;
          margin-left: 10px;
          .title{
            margin:0 0 5px 0;
            font-size: 17px;
            a{
              color: $txtColor;
            }
          }
          .like-post{
            position: absolute;
            right: 5px;
            top: 5px;
            svg{
              width: 18px;
              stroke: rgba(0,0,0,0.3);
              fill: rgba(0,0,0,0.5);
            }
          }
          .post-rating{
            display: flex;
            ul{
              @include none-style;
            }
            li{
              display: inline-block;
              svg{
                width: 14px;
                fill: tomato;
                stroke: tomato;
              }
            }
            span{
              font-size: 14px;
              margin-top: 3px;
              margin-left: 10px;
              font-weight: bold;
              color: $txtColor;
            }
          }
          .nameAndPrice{
            @include flex-between;
            .name{
              @include flex-align-center;
              opacity: 0.5;
              svg{
                width: 16px;
              }
              span{
                font-weight: bold;
                font-size: 14px;
                margin-left: 5px;
              }
            }
            .price{
              color: $orangeColor;
              font-weight: bold;
            }
          }
        }
      }
      
    }
  }

  // fix navigation bar
  .foodLog-navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    border-radius: 30px 30px 0 0;
    width: 100%;
    padding: 0 30px;
    ul{
        @include none-style;
        @include flex-between
    }
    li{
      padding: 20px 0;
      &.active{
        svg{
          stroke: tomato;
          fill: rgba(255, 99, 71, 0.3);
          @include transition(0.7);
        }
      }
    }
  }
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  background-color: tomato;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 100;
  transform-origin: left;
  border-radius: 0 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  &.none-showing{
    transform: perspective(500px) rotateY(90deg);
    border-radius: 0 50% 50% 0;
  }
  @include transition(0.5);
  .foodLog-profile{
    @include flex-align-center;
    .close-sidebar{
      position: absolute;
      right: 15px;
      top: 15px;
      color: white;
      svg{
        width: 30px;
        height: auto;
      }
    }
    img{
      width: 80px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .meta-data{
      color: white;
      .name{
        margin: 0 0 10px 0;
      }
    }
  }
  .menu-list{
    @include none-style;
    width: 90%;
  }
  li{
    &:not(.divide){
      margin-bottom: 10px;
    }
    &.active a{
      background-color: white;
      color: #333333;
      border-radius: 0 20px 20px 0;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    a{
      padding: 10px;
      @include transition(0.5);
      @include flex-align-center;
      color: white;
      &:hover{
        border-radius: 0 20px 20px 0;
        background-color: white;
        color: #333;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      }
      svg{
        margin-right: 10px;
      }
    }
  }
}

#demoShow{
  width: 100%;
  height: 100vh;
}
@media(min-width: 451px){
  #demoShow{
    width: 430px;
    height: 600px;
    border-radius: 20px;
  }
}




/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}